<div class="container">
    <h2>Registration Form</h2>
   <input type="button" value="Login" (click)="back()" class="btn btn-light" style="float: right;"/><br/><br/>
    <form class="form">
        <pre>
        <label>First Name</label> <input type="text" id="fname"><br/>
        <label>Last Name</label>  <input type="text" id="lname"><br/>
        <label>Username</label>   <input type="text" id="user"><br/>
        <label>Password</label>   <input type="password" id="pass"><br/>
        <input type="button" value="Register" (click)="addUser()" class="btn btn-primary"> <input type="button" value="Reset" (click)="resetData()" class="btn btn-primary"></pre>
    </form>
</div>
