<div class="container">
    <h2>Welcome to my quiz</h2>
    <p>You'll have to answer 10 general knowledge questions.</p>
    <p>Each question is worth 1 point. You get 10 minutes to answer as many questions as you can before the test auto submits.</p>
    <p>You can only submit the test after answering all the 10 questions</p>
    <p>If your ready click the button below to go to the test. <b>Best of Luck!!</b></p>
    <input type="button" class="btn btn-primary" value="Go to Test" (click)="startTest()">
</div>
